body{
  background-color: bisque;
}
h1{
  font-size: x-large;
  text-align: center;
  color: aqua;
}
h2{
  font-size: medium;
  text-align: justify;
  color: blueviolet;
}
p{
  color: azure;
  font-size: small;
  text-align: right;
}